<h2> <%= current_artist.name %>様の受注履歴 </h2>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>購入者名</th>
      <th>カートID</th>
      <th>受注日時</th>
      <th>受注商品名</th>
      <th>商品価格（税込）</th>
      <th>受注枚数</th>
      <th>小計（税込）</th>
      <th>送付先氏名|住所</th>
      <th>ステータス</th>
    </tr>
  </thead>
<tbody>
<% @histories.each do |h| %>
<tr>
  <!--購入者名前-->
  <td>
	<%= h.cart.user.name %>
  </td>

  <!--カートID-->
  <td>
  <%= h.cart_id %>
  </td>

  <!--購入日時-->
  <td>
	<%= h.cart.added_at %>
  </td>

  <!--購入内容-->
  <td>
  	<%= h.product.name %>
  </td>

  <!--単価-->
  <td>
  	<%= h.price.to_s(:delimited) %>円
  </td>

  <!--購入枚数-->
  <td>
  	<%= h.quantity %>
　</td>

  <!--小計-->
  <td style="color: #DF0202">
    <%= (h.price * h.quantity).to_s(:delimited) %>円
　</td>

  <!--送付先-->
  <td>
  	<%= @user.other_name %>|
    <%= @user.other_postal_code %>
    <%= @user.other_address %>
  </td>

  <!--ステータス-->
  <td>
  	<%= link_to edit_cart_item_path(h.id) do %>
  		<%= h.status %>
  	<% end %>
  </td>

<% end %>
</tbody>
</table>