<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<!-- アーティスト基本情報 -->
			<div class="border" aria-hidden="true"">
				<span class="glyphicon glyphicon-user"> アーティスト基本情報</span>
			</div>

			<div class="artist-show-info">
				<div class="artist-show-image-box">
					<div class="artist-show-image">
						<%= attachment_image_tag @artist, :profile_image, format: 'jpeg', fallback: "no_image.jpg", class:"artist-show-image" %>
					</div>
					<% if @artist == current_artist %>
						<div class="artist-show-link-button">
							<p><%= link_to "アーティスト情報編集", edit_artist_path(@artist.id), class:"btn btn-sm btn-default artist-show-link-button-edit"%></p>
							<p><%= link_to "退会する", destroy_artist_session_path, method: :delete, "data-confirm" => "Are you sure?", class:"btn btn-sm btn-default artist-show-link-button-destroy clearfix" %></p>
						</div>
					<% else %>
						<div class="artist-show-link-button"></div>
					<% end %>
				</div>
				<div class="artist-information-text">
					<p class="artist-show-name">
						<span class= "artist-show-span-name">【<%= @artist.name %></span>
						<span class= "artist-show-span-name-kana">/<%= @artist.name_kana %></span>
						<span class= "artist-show-span-name">】</span>
					</p>
					<p class="artist-show-member"><span class="glyphicon glyphicon-headphones artist-show-music-icon" aria-hidden="true"></span><span class= "bold">  Member</span><br><%= @artist.member %>メンバーメンバー・・・ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
					<p class="artist-show-introducton"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span><span class= "bold">  アーティスト紹介</span><br>フレームワークでは，この位置が「アーティスト紹介」となっていますが，Artistsモデルにintroductionカラムはありません．紹介を書くtext_area作りますか？ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
				</div>
			</div>

			<div class="clearfix"></div>

			<!-- 出品一覧 -->
			<div class="border" aria-hidden="true"> <span class="glyphicon glyphicon-headphones"> このアーティストが出品しているCD一覧</span></div>
			<div class="product-item-box">
				<% @products.each do |product| %>
					<div class="product-item">
						<%= link_to product_path(product.id) do %>
							<%= attachment_image_tag product, :image, size: "150x150" , format: 'jpeg', fallback: "no_image.jpg" %>
								<p><%= product.name %></p>
							<p>価格 | ¥<%= product.price %></p>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class= "clearfix"></div>
		</div>
		<div class="col-xs-4">
			<div class="ranking">
					<h4> このアーティストの<br>CD売り上げランキング TOP10</h4>
					<div class="ranking-rank">
						<li>1</li>
						<%= image_tag 'rank1.png', class:"rank1" %>
						<li>2</li>
						<%= image_tag 'rank2.png', class:"rank2" %>
						<li>3</li>
						<%= image_tag 'rank3.png', class:"rank3" %>
						<li>4</li>
						<li>5</li>
						<li>6</li>
						<li>7</li>
						<li>8</li>
						<li>9</li>
						<li>10</li>
					</div>
					<div class= "ranking-box">
						<% @ranking.first(10).each_with_index do |key| %>
						    <% products = Product.find_by(id: key) %>
						    <div class= "ranking-item">
							    <%= link_to product_path(products) do %>
							    	<p class= "ranking-product-image"><%= attachment_image_tag products, :image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %></p>
								    <p class= "ranking-artist-name"><%= products.name %><br><br>
								   	/<%= products.artist.name %></p>
								<% end %>
							</div>
							<div class= "margin clearfix"></div>
					    <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


