
		<h1>Hello,admin!</h1>
			<p><%= link_to "トップページ", products_path %></p>
				商品一覧ページです。このページが常にトップページとして表示されます。
	   		<p><%= link_to "ユーザー一覧", admins_user_index_path %></p>
	   		ユーザー一覧ページです。ユーザー情報の確認や強制退会、情報編集が行えます。
		    <p><%= link_to "アーティスト一覧", artists_index_path %></p>
		    アーティスト一覧ページです。アーティスト情報の確認や強制退会、情報編集が行えます。
		    <p><%= link_to "購入履歴", admins_user_history_path %></p>
		    ユーザーの購入履歴一覧です。
		    <p><%= link_to "管理者情報編集", edit_admin_registration_path %></p>
		    管理者情報を変更できます。
