購入内容確認

<div class="container">
	<div class="row">
	    <div class="col-xs-8">
	    	<div class="confirm-order">
				<% @cart_items.each do |c| %>
					<div class="order-cart-item clearfix">
						<div class="cart-item-image">
							<%= attachment_image_tag c.product, :image, size: "60x60" , format: 'jpeg', fallback: "no_image.jpg", class: "" %>
						</div>
						<div class="cart-item-detail-info">
							<div class="">
								<span class="order-cart-item-name"><%= c.product.name%></span>
								/<%= c.product.artist.name %>
							</div>
							<div class="order-cart-item-sub-total">
								<%= (c.sub_total).to_s(:delimited) %>円 (税込)
							</div>
							<div class="order-cart-item-quantity">
								数量：<%= c.quantity %>
							</div>
						</div>
					</div>
					<div class="order-border"></div>
				<% end %>
			</div>
			<div class="address-select">
				配送先指定
				<%= form_for @cart, :url => {:controller => :users, :action => :buy, :id => @cart.id} do |f|%>
					<%= f.collection_select :address_id, current_user.addresses.all, :id, :other_address %>
					<p> <%= f.hidden_field :total_price, value: @sum %> </p>
					<p> <%= f.hidden_field :added_at, value: Time.now %>
				<p><%= link_to '送付先新規登録', users_address_new_path, class: "btn btn-success btn-xm" %></p>
			</div>
		</div>
		<div class="select-buy">
			<!-- 配送先が指定されている場合 -->
			<p class= "total-price-text"> 総合計</p>
			<p class= "total-price"><%= @sum.to_s(:delimited) %>円<span>(税込)</span></p>
			<% if !current_user.addresses.empty? %>
	        	<p class= "clearfix"><%= f.submit "購入を確定する", class: "col-xs-8 btn btn-lg btn-danger" %></p>
		    <!-- 配送先が指定されていない場合（新規ユーザ） -->
		    <% else %>
		    	<div class="clearfix"></div>
		       	<p class= "please-add-address"> ※ 配送先を指定してください </p>
	        <% end %>
		        <% end %>
	    </div>
	</div>
</div>

