<% if @address.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= @address.errors.count %> errors prohibited this obj from being saved:</h2>
      <ul>
        <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="address-edit">
  <h1 class="address-edit-title">新規配送先登録フォーム</h1>

  <%= form_for @address, :url => {:controller => :users, :action => :create_address, :id => @address.id} do |f|%>

    <div class="field">
      <%= f.label :配送先ご氏名 %>
  	  <%= f.text_field :other_name, class:"address-edit-input", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :配送先郵便番号 %>
  	  <%= f.text_field :other_postal_code, class:"address-edit-input" %>
    </div>

    <div class="field">
      <%= f.label :配送先ご住所%>
  	  <%= f.text_field :other_address, class:"address-edit-input" %>
    </div>

    <div class="actions">
  	   <%= f.submit "配送先登録", class: "address-edit-button" %>
    </div>

  	<p class="back-to-cart"><%= link_to 'カート内容確認画面へ戻る', users_confirm_order_path, class: "" %></p>

  <% end %>
</div>