<h1>Users#show</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<!-- ユーザー情報 -->
			<ul class="users">
    		<%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "sample-author1.jpg" %>
			</ul>
			<ul class="users">name : <%= current_user.name %></ul>
			<ul class="users">name_kana : <%= current_user.name_kana %></ul>
			<ul class="users">hundle_name : <%= current_user.hundle_name %></ul>
			<ul class="users">postal_code : <%= current_user.postal_code %></ul>
			<ul class="users">user_address : <%= current_user.user_address %></ul>
			<ul class="users">email : <%= current_user.email %></ul>

			<%= link_to " 登録情報編集", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %><br>
			<%= link_to " 退会する", user_path, method: :delete, class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>
				<h3> お気に入りに入れたCD </h3>
				<table class='table table-hover table-inverse'>
  					<thead>
					    <tr>
					      <th>image</th>
					      <th>name</th>
					      <th colspan="3"></th>
					    </tr>
					</thead>
					<tbody>
				<% @favorites.each do |favorite| %>
				<tr>
				  <td>
					<%= attachment_image_tag favorite.product, :image, size: "70x70" , format: 'jpeg', fallback: "no_image.jpg", class: "" %>
				  </td>
				  <td>
					<%= favorite.product.name %>
				  </td>
				<% end %>
					</tbody>
				</table>
				<%= paginate @favorites, class: "paginate" %>
		</div>
		<!-- 購入履歴 -->
		<div class="col-xs-4">
			<div class="history">購入履歴出ましたね！</div>
		<% @histories.each do |h| %>
			<div class="well">
				<%= h.cart.added_at %><br>
				<%= h.product.name %><br>
				<%= h.price %><br>
	  			<%= @user.other_name %>
	  			<%= @user.other_address %><br>
			 	<%= @user.other_name %><br>
	  			<%= h.status %><br>
			<!-- 到着ボタン -->
				<%= form_for h, :url => {:controller => :cart_items, :action => :update_item, :id => h.id}  do |f| %>
					<%= f.hidden_field :quantity, value: h.quantity %>
		    		<%= f.hidden_field :product_id, value: h.product_id %>
		    		<!-- CartItem modelにrestrict_status_userメソッドを定義し，特定の選択肢を除外 -->
		    		<%= f.hidden_field :status, value: CartItem.restrict_status_user.keys.to_a, status:'商品到着', class: "select-status" %>
				    <%= f.submit "到着しました", class: "btn btn-primary update-status-button" %>
				<% end %>
		<!-- 到着ボタン -->
			</div>
		<% end %>
		<!-- 購入履歴 -->
	</div>
</div>