<h1>Users#show</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-8">

<ul class="users">
    <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "sample-author1.jpg" %>
</ul>

<ul class="users">
	name : <%= current_user.name %>
</ul>

<ul class="users">
	name_kana : <%= current_user.name_kana %>
</ul>

<ul class="users">
	hundle_name : <%= current_user.hundle_name %>
</ul>

<ul class="users">
	postal_code : <%= current_user.postal_code %>
</ul>

<ul class="users">
	user_address : <%= current_user.user_address %>
</ul>

<ul class="users">
	email : <%= current_user.email %>
</ul>

<%= link_to " 登録情報編集", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>

<p>ここにいいねしたCD</p>

		</div>
<!-- ランキング -->
		<div class="col-xs-4">
			<div class="ranking">購入履歴</div>
		</div>
<!-- ランキング -->
	</div>
</div>