<br>
<br>
<br>

<% @cart_items.each do |c| %>
  <% if c.errors %>
    <% c.errors.full_messages.each do |e| %>
      <%= e %>
    <% end %>
  <% end %>
<% end %>

<div class="container"> <!-- デフォルトで,class="container"にmarginが設定されているので，両サイドに空白ができている-->
  <div class="row">
    <div class="col-xs-8">

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>


      <% if @cart_items.blank? %>
        <p>
           カートに追加された商品はありません． <%= link_to "ホーム", products_path %> に戻って商品を追加しましょう.
        </p>
      <% else %>
      <!--商品追加・更新・削除メッセージ-->
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <!--商品追加・更新・削除メッセージ-->
        <% @cart_items.each do |c| %>
        <p>
          <%= link_to product_path(c.product_id) do %>
            <%= attachment_image_tag c.product, :image, size: "200x200" , format: 'jpeg', fallback: "no_image.jpg", class: "" %>
          <% end %>
            <%= form_for c, :url => {:controller => :cart_items, :action => :update_item, :id => c.id}  do |f| %>
              <%= f.number_field :quantity, value: c.quantity.to_i, min: 1 %>
              <%= f.hidden_field :product_id, value: c.product_id %>
              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to 'カートから削除する',({controller: 'cart_items', action: 'destroy_item', id: c.id }), method: :delete %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="col-xs-4">
      <div class="show-sidebar">
        <p><%= link_to '購入手続きへ', users_address_path, class: "btn btn-primary" %><p>
        <p>※ご注文内容確認画面（配送先指定等）へ遷移します．</p>
      </div>
    </div>
  </div>
</div>

