<h1>products#index</h1>
<li>
    <%= link_to destroy_artist_session_path, class: "", method: :delete do %>
   		<span>logout</span>
    <% end %>
</li>

<!-- 検索フォーム -->
<%= form_tag(:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<!-- 検索フォーム -->

<% flash.each do |key, value| %>
     <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<% @products.each do |product| %>

    <%= link_to product_path(product.id), class: "" do %>
      	<%= attachment_image_tag product, :image, size: "200x200" , format: 'jpeg', fallback: "no_image.jpg", class: "" %>
    <% end %>

    <%= product.name %>

    <%= product.price %>

<% end %>