
<!-- スライダー ランダム表示-->
<% if @products.count > 5  %>
	<div class="slider">
		<% @product_slider.first(10).each_with_index do |product| %>
		   	<div class="slick-slide">
		    	<%= link_to product_path(product.id) do %>
		    		<%= attachment_image_tag product, :image, size: "200x200" , format: 'jpeg', fallback: "no_image.jpg", class: "slider-image" %>
		    		<li class= "slider-product-item-name"><%= product.name %></li>
		    		<li class= "slider-product-item-name">/<%= product.artist.name %></li>
		   		<% end %>
		   	</div>
		<% end %>
	</div>
<% end %>
<!-- スライダー -->

<!-- 検索機能 -->
<div class= "product-index-search">
	<p>
		<%= form_tag("/products/index", :method => 'get' ) do %>
			<%= text_field_tag :search, params[:search], class:"product-index-search-form", placeholder:"キーワードを入力してください" %>
			<%= submit_tag 'CDを検索する', :name => nil  %>
		<% end %>
	</p>
</div>
<!-- 検索機能 -->

<!-- 商品一覧 -->
<div class= "product-index">
	<div class="container"> <!-- デフォルトで,class="container"にmarginが設定されているので，両サイドに空白ができている-->
		<div class="row">
			<div class="col-xs-8">
				<div class="product-item-box">
					<% @products.each do |product| %>
						<div class="product-item">
							<%= link_to product_path(product.id) do %>
						   	 	<%= attachment_image_tag product, :image, size: "150x150" , format: 'jpeg', fallback: "no_image.jpg", class: "product-item-image" %>

						   	 	<div class= "product-item-info">
						    		<p class= "product-item-name"><%= product.name %></p>
						    <% end %>
								    <p>/<%= product.artist.name %></p>
								    <p>価格 | ¥<%= product.price %></p>
								    <% if !product.stock.nil? || product.stock > 1 %>
										<p><span class= "y-stock"> ●</span> 在庫あり：<%= product.stock%></p>
									<% else %>
										<p> ❌ Sold out </p>
									<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
	<!-- 商品一覧 -->

	<!-- ランキング -->
			<div class="col-xs-4">
				<div class="ranking">
					<h4> 累計売り上げランキング<br>	<span class="ranking-title">TOP10</span></h4>
					<div class="ranking-rank">
						<li>1</li>
						<%= image_tag 'rank1.png', class:"rank1" %>
						<li>2</li>
						<%= image_tag 'rank2.png', class:"rank2" %>
						<li>3</li>
						<%= image_tag 'rank3.png', class:"rank3" %>
						<li>4</li>
						<li>5</li>
						<li>6</li>
						<li>7</li>
						<li>8</li>
						<li>9</li>
						<li>10</li>
					</div>
					<div class= "ranking-box">
						<% @ranking.first(10).each_with_index do |key| %>
						    <% products = Product.find_by(id: key) %>
						    <div class= "ranking-item">
							    <%= link_to product_path(products) do %>
							    	<p class= "ranking-product-image"><%= attachment_image_tag products, :image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %></p>
								    <p class= "ranking-artist-name"><%= products.name %><br><br>
								   	/<%= products.artist.name %></p>
								<% end %>
							</div>
							<div class= "margin clearfix"></div>
					    <% end %>
					</div>
				</div>
			</div>
	<!-- ランキング -->
	    </div>
	</div>
</div>