<!-- スライダー -->
<div class="slider">スライダー挿入</div>
<!-- スライダー -->

<!-- 商品一覧 -->
<div class="container"> <!-- デフォルトで,class="container"にmarginが設定されているので，両サイドに空白ができている-->
	<div class="row">
		<div class="col-xs-8">
			<div class="product-index">
				<% @products.each do |product| %>
					<div class="product-item">
						<%= link_to product_path(product.id), class: "" do %>
					   	 	<%= attachment_image_tag product, :image, size: "150x150" , format: 'jpeg', fallback: "no_image.jpg", class: "" %>
					    	<p><%= product.name %></p>
					    <% end %>
					    <!-- アーティスト名が登録できるようになったら，email を name に変更し，アーティスト名をクリックしたら artist#show へ飛べるようにする -->
					    <p><%= product.artist.name %></p>
					    <p>価格 | ¥<%= product.price %></p>
					    <% if product.stock > 1 %>
						<p>在庫数：<%= product.stock%></p>
						<% else %>
							<p> ❌売り切れ </p>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
<!-- 商品一覧 -->

<!-- ランキング -->
		<div class="col-xs-4">
			<div class="ranking">
				<h4>CD売り上げランキング（過去10日間）</h3>
				<% @test.each_key do |key| %>
				    <% products = Product.find_by(id: key) %>
				    <p>
				    <%= attachment_image_tag products, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
				    <%= products.name %>
				   	/<%= products.artist.name %>
				   	</p>
			    <% end %>
			</div>
		</div>
<!-- ランキング -->
    </div>
</div>
