<!--商品編集成功メッセージ-->
<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<!--商品編集成功メッセージ-->

<div class="container"> <!-- デフォルトで,class="container"にmarginが設定されているので，両サイドに空白ができている-->
	<div class="row">
		<div class="col-xs-8">
			<!-- 商品の基本情報 -->
			<div class="border" aria-hidden="true"">
				<span class="glyphicon glyphicon-headphones"> CD基本情報</span>
			</div>
			<div class="product-information">
				<div class="product-image">
					<%= attachment_image_tag @product, :image, size: "200x200" , format: 'jpeg', fallback: "no_image.jpg", class: "product-item-image" %>
				</div>
				<div class="product-information-text">
					<p>商品情報：</p>

					<p><%= @product.name%> </p>
					<p>/<%= @product.artist.name%></p>

					<p>ジャンル：<%= @product.genre%></p>
					<p>レーベル：<%= @product.label%></p>
					<% if @product.stock > 0 %>
						<p>在庫数：<%= @product.stock%></p>
					<% else %>
						<p> ❌ Sold out </p>
					<% end %>

					<!-- いいね機能 -->
					<% if user_signed_in? %>
						<% if !@product.favorited_by?(current_user) %>
						    <%= link_to product_favorites_path(@product), method: :post do %>
		    	 				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
		    	 			 	お気に入りに入れる
		 					<% end %>
						<% else %>
						    <%= link_to product_favorites_path(@product), method: :delete do %>
					    		<i class="fa fa-heart-o"" aria-hidden="true"></i>
					    	  	お気に入りから外す
						    <% end %>
						<% end %>
					<% else %>
						お気に入りの数
					<% end %>
					<!-- いいね機能 -->
				</div>
			</div>
			<!-- 商品の基本情報 -->

			<!-- 動画埋め込み -->
			<div class="border" aria-hidden="true">
				<span class="glyphicon glyphicon-facetime-video"> ミュージックビデオ</span>
			</div>

			<div class= "product-show-movie">
				<div class= ""> <%= @product.movie_url.html_safe %></div>
			</div>
			<!-- 動画埋め込み -->

			<!-- 商品の詳細情報 -->
			<div class="border" aria-hidden="true""> <span class="glyphicon glyphicon-headphones"> CD詳細情報</span></div>
			<div class="product-detailed-information">
				<p>「CD構成」，「曲名」</p>
			</div>
			<!-- 商品の詳細情報 -->

			<!-- 商品へのコメント -->
			<div class="border"><span class="glyphicon glyphicon-comment"> コメント</span></div>
			<div class="comment">
				    <% @product.comments.each do |comment| %>
				    	<p>名前：<%= comment.user.hundle_name %>
				    	 / 投稿日時：<%= comment.created_at.strftime('%Y/%m/%d') %><p>
					    <p>コメント：<%= comment.comment_text %>
				         <%= link_to "削除", product_comments_path(@product.id), method: :delete %><p>
				    <% end %>
			</div>
			<!-- 商品へのコメント -->
			<!-- コメント投稿用フォーム -->
            <% if user_signed_in? %>
			<%= form_for [@product, @comment] do |f| %>
	            <%= f.text_area :comment_text, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
	    		<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
    		<% end %>
    		<% end %>
			<!-- コメント投稿用フォーム -->
		</div>
		<div class="col-xs-4">
			<div class="show-sidebar">
				<% if @cart_item.errors %>
					<% @cart_item.errors.full_messages.each do |e| %>
						<%= e %>
					<% end %>
				<% end %>
				<% if user_signed_in? %>
		    	<%= form_for @cart_item do |f| %>
		    		<%= f.hidden_field :product_id, value: @product.id %>
		    		<%= f.hidden_field :price, value: @product.price %>
		    		<% if @product.stock > 1 %>
		    			<p>数量: <%= f.number_field :quantity, value: @cart_item.quantity.to_i, min: 1, max: 99%></p>
		    			<p><%= f.submit "カートに入れる", class: "btn btn-primary" %></p>
		    		<% else %>
		    			<p> ❌ 現在品切れ中です．</p>
		    		<% end %>
		    	<% end %>
		    	<% elsif artist_signed_in? && @product.artist_id == current_artist.id %>
			    	<p><%= link_to "商品情報編集", edit_product_path(@product), class: "col-xs-12 btn btn-default" %></p>
			    	<p><%= link_to "商品削除", product_path(@product), class: "col-xs-12 btn btn-default", method: :delete, "data-confirm" => "Are you sure?" %></p>
			    <% elsif admin_signed_in? %>
			    	<p><%= link_to "商品情報編集", edit_product_path(@product), class: "col-xs-12 btn btn-default" %></p>
			    	<p><%= link_to "商品削除", product_path(@product), class: "col-xs-12 btn btn-default", method: :delete, "data-confirm" => "Are you sure?" %></p>
		    	<% end %>
		    </div>
		</div>
	</div>
</div>