<!DOCTYPE html>
<html>
  <head>
    <title>Digru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
  </head>
<header class="navbar navbar-default">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span class="title">
        <h1><%= link_to products_path do %>DIGRU<% end %></h1>
      </span>
    </nav>

    <nav>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <p>こんにちは　<%= current_user.name %>さん</p>
        <li>
          <%= link_to "カート", {controller: :carts, action: :show, id: :cart_empty}, class: "glyphicon glyphicon-shopping-cart cart" %>
        </li>
        <li>
        <li>
          <%= link_to "マイページ", user_path(current_user.id), class: 'glyphicon glyphicon-home' %>
        </li>
        <li>
          <%= link_to "アーティスト一覧", artists_path, class: 'glyphicon glyphicon-headphones artists' %>
        </li>
        <li>
          <%= link_to "FAQ", users_help_path, class: 'glyphicon glyphicon-question-sign help' %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %>
        </li>
      </ul>

      <% elsif artist_signed_in? %>

      <ul class="nav navbar-nav navbar-right">
        <p>こんにちは　<%= current_artist.name %>さん</p>
        <li>
          <%= link_to "商品を出品する", new_product_path, class: 'glyphicon glyphicon-bell sell' %>
        </li>
        <li>
        <li>
          <%= link_to "マイページ", artist_path(current_artist.id), class: 'glyphicon glyphicon-log-in sign_in' %>
        </li>
        <li>
          <%= link_to "アーティスト一覧", artists_path, class: 'glyphicon glyphicon-headphones artists' %>
        </li>
        <li>
          <%= link_to "FAQ", users_help_path, class: 'glyphicon glyphicon-question-sign help' %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_artist_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %>
        </li>
      </ul>

      <% else %>

        <ul class="nav navbar-nav navbar-right">
        <p>こんにちは　ゲストさん</p>
        <li>
          <%= link_to "ログイン", users_session_select_path, class: 'glyphicon glyphicon-log-in sign-in' %>
        </li>
        <li>
          <%= link_to "会員登録", users_registration_select_path, class: 'glyphicon glyphicon-edit sign_up' %>
        </li>
        <li>
          <%= link_to "アーティスト一覧", artists_path, class: 'glyphicon glyphicon-headphones artists' %>
        </li>
        <li>
          <%= link_to "FAQ", users_help_path, class: 'glyphicon glyphicon-question-sign help' %>
        </li>
      </ul>

      <% end %>

    </nav>
  </div>
</div>
</header>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
  <footer class="footer mt-auto py-3">
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
      <span class="text-muted">CopyRight DIGRU.inc</span>
      </div>
    </div>
  </div>
</footer>
</html>